# Fallback codeowners for all files that do not have an explicit rule.
* @jaygambetta @ajavadia

# Codeowners for individual folders
qiskit/* @jaygambetta @ajavadia

qiskit/aqua/**/* @jaygambetta @pistoia
qiskit/artificial_intelligence/**/* @jaygambetta @pistoia
qiskit/chemistry/**/* @jaygambetta @pistoia
qiskit/finance/**/* @jaygambetta @pistoia
qiskit/optimization/**/* @jaygambetta @pistoia

qiskit/aer/* @chriseclectic @jaygambetta @ajavadia
qiskit/ignis/* @dcmckayibm @jaygambetta @ajavadia
qiskit/terra/* @nonhermitian @jaygambetta @ajavadia

community/* @attp @aasfaw @quantumjim @rraymondhp

community/aer/* @chriseclectic @attp @aasfaw @quantumjim @rraymondhp

community/algorithms/* @attp @aasfaw @quantumjim @rraymondhp

community/arts/* @attp @aasfaw @quantumjim @rraymondhp

community/aqua/**/* @chunfuchen @pistoia @aasfaw
community/artificial_intelligence/**/* @chunfuchen @pistoia @aasfaw
community/chemistry/**/* @chunfuchen @pistoia @aasfaw
community/finance/**/* @chunfuchen @pistoia @aasfaw
community/optimization/**/* @chunfuchen @pistoia @aasfaw

community/awards/**/* @attp @aasfaw @quantumjim @rraymondhp @pistoia

community/games/**/* @attp @aasfaw @quantumjim @rraymondhp

community/hello_world/**/* @quantumjim @aasfaw

community/ignis/* @dcmckayibm @yehuda-naveh @attp @aasfaw @quantumjim @rraymondhp

community/terra/**/* @nonhermitian @attp @aasfaw @quantumjim @rraymondhp
