# Fallback codeowners for all files that do not have an explicit rule.
* @jaygambetta

# Codeowners for individual folders
qiskit/* @jaygambetta

community/hello_world/* @quantumjim
community/hello_world/*/* @quantumjim
community/games/* @quantumjim
community/games/*/* @quantumjim

community/terra/* @attp
community/terra/*/* @attp
community/algorithms/* @attp

community/aqua/* @chunfuchen @pistoia
community/aqua/*/* @chunfuchen @pistoia
community/aqua/*/*/* @chunfuchen @pistoia

community/teach_me_qiskit_2018/* @rraymondhp
community/teach_me_qiskit_2018/*/* @rraymondhp

