
__pycache__/
.cache/

.ipynb_checkpoints/*

qiskit/*/.ipynb_checkpoints/*
qiskit/*/*/.ipynb_checkpoints/*
community/*/.ipynb_checkpoints/*
community/*/*/.ipynb_checkpoints/*
community/*/*/*/.ipynb_checkpoints/*

Qconfig.py
qiskit/basics/Qconfig_IBMQ_experience.py
qiskit/basics/Qconfig_IBMQ_network.py
qiskit/basics/Qconfig_IBMQ_experience_public.py

# editor files
.vscode/
.idea/

# Distribution / packaging
*.egg-info/

# Spyder project settings
.spyderproject
.spyproject

qiskit/basics/Qconfig_IBMQ_experience_staging.py

qiskit/basics/Qconfig_IBMQ_network-dev.py
.DS_Store

qiskit/.ipynb_checkpoints/start_here-checkpoint.ipynb
