
Qconfig.py
Qconfig_IBMQ_network.py
Qconfig_IBMQ_experience.py

__pycache__/
.cache/

.ipynb_checkpoints/*

qiskit/*/.ipynb_checkpoints/*
community/*/.ipynb_checkpoints/*
community/*/*/.ipynb_checkpoints/*
community/*/*/*/.ipynb_checkpoints/*

