# Where component owners are known, add them here.

reference/tools/* @ajavadia, @jaygambetta
reference/qis/* @attp, @jaygambetta
reference/qcvv/* @dtmcclure, @jaygambetta
reference/approximate/* @adcorcol, @antoniomezzacapo, @jaygambetta
reference/algorithms/* @rraymondhp, @jaygambetta
reference/games/* @decodoku
