# Fallback codeowners for all files that do not have an explicit rule.
* @attp, @jaygambetta, @rraymondhp, @ajavadia, @chunfuchen, @pistoia, @abbycross, @quantumjim, @dtmcclure, @ewinston, @adcorcol, @antoniomezzacapo

# Codeowners for the specific files or dirs: if a more specific entry is added
# to this file, it will override the general codeowners. For example:
# reference/tools/* @ajavadia, @ewinston, @jaygambetta
