# Fallback codeowners for all files that do not have an explicit rule.
* @attp, @jaygambetta, @rraymondhp

# Codeowners for the reference tutorials.
reference/tools/* @ajavadia, @ewinston, @jaygambetta
reference/qis/* @attp, @adcorcol, @jaygambetta
reference/qcvv/* @dtmcclure, @chriselectic, @jaygambetta
reference/approximate/* @adcorcol, @antoniomezzacapo, @jaygambetta
reference/algorithms/* @rraymondhp, @ajavadia, @jaygambetta
reference/games/* @quantumjim, @rraymondhp, @attp
